* {
    box-sizing: border-box;
  }
  html, body {
    max-width: 100%;
    overflow-x: hidden;
    background-image: url('./bg.jpg');
}

@media screen and (min-width: 350px) {
    
    .app{
        
        width:auto;
        margin:5px 10px;
    }
    .bordercheck{
        border:1px red solid
    }
    .Taskscss{
         position: relative;
        margin:20px;
        top:10px;
        
    }
    .Landingname{
      
        margin-top:40vh;
    }
    .Landingname input{

        height:70px;
        font-size: 20px;
        background: transparent;
        color: white;
        border:none;
        border-radius: 10px;
        text-align: center;
        outline-width: 0;
        width:auto;
    }
    .Landingname button{
        margin-left: 0;
        background: transparent;
        border:none;
        color: antiquewhite;
    }
    .Landingname i{
        position: relative;
        top:5px;
        border:1px rgb(21, 63, 4) solid;
        font-size: 40px;
        width:50px;
        margin-left: 30px;
    }
    .Name{
        position: relative;
        top:20px;
        text-align: center;
        font-size: 15px;
        color:rgb(227, 238, 230);
    }
    .addinput{
        width:50px;
        border: .7px rgb(7, 34, 15) solid;
        border-radius: 10px;
        height: 35px;
        outline: none;
        text-align: center;
    }
    .addinput:focus{
        background-color: rgba(255, 105, 180, 0.486);
    }
    .btncls button{
        margin:5px 10px;
    }
    .Listcss{
        border:.5px rgba(1, 31, 1, 0.651) solid;
       
        padding:10px;
        font-size:15px;
        text-transform:capitalize;
        color:rgb(238, 204, 142);
        height: 100px;
        display: flex;
       flex-direction: row;
       justify-content: center;
       width: 100%;
    }
    .taskinput{
        opacity: 0.9;
           border-radius:20px;
            border:1px rgb(2, 48, 2) solid;
            padding:20px;
            height:80px;
            min-width:300px;
            margin:auto;
            margin-top:20px;
            margin-bottom:20px;
            outline: none;
             
      }
     
  .taskfront{
    display: flex;
    flex-direction: column;
      position: relative;
     border:.3px rgb(31, 66, 27) solid;
     
      max-width: 60px;
      min-height: 90%;
  }
  
  .indexnum{
   font-size: 30px;
   text-align: center;

  }
  .taskinfo{
    display: inline;
      position: relative;
      min-width:70% ;
      max-width: 72%;
      height:auto;
      padding: 10px;
      white-space: wrap; 
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: 15px;
  }
  .rembtn{
    display: inline;
    
    right: 0;
  }
  .rembtn .btn{
width:50px;
opacity: 0.8;

  }
 

  
}

@media screen and (min-width: 1280px) {

    .Taskscss{
   
       margin:10px 200px;
       
       
   }
}